%h2=tank.name

%table.table.table-hover
  %tr
    %td
      %strong
        ="Volume:"
    %td{style: 'font-size: large;'}=tank.volume
  %tr
    %td
      %strong
        ="number of fish:"
    %td{style: 'font-size: large;'}=tank.fish_number
  %tr
    -last = tank.last_water_change
    -if not_nil?(last)  
      %td
        %strong
          ="last water change:"
          %td{style: 'color: #FFF'}="#{distance_of_time_in_words(last, Time.now)} ago - (#{last.localtime})"
    -else
      %td
        %strong
          ="last water change:"
      %td{style: 'color: #FFF'} this tank has not yet had a water change
  %tr
    %td=button_to "update Tank info", edit_tank_path(tank), method: :get, remote: true
    %td=button_to "delete Tank", tank_path(tank), method: :delete, data: {confirm: "are you sure you want to delete #{tank.name} from the database?"}