.col-md-8.col-md-offset-2.text-center
	.body
		%h1.main-header=image_tag('icon.jpg') 
		%h5 (Aquarium Environmental General Information Reporting)
		-count = @tanks.count
		-if count<1
			%p No currently active Tanks
		-elsif count==1
			%p Currently 1 active Tank
		-else
			%p= "Currently #{count} active Tanks"
		%p 
			© Caleb Keene 2015
		%p
			%span
				="code on "
				=link_to "github", "https://github.com/calebkeene/Aegir", {style: 'color: #FFF'}
		%br
		=link_to(root_url, class: 'btn btn-primary') do
			home
			%span.glyphicon.glyphicon-home