.col-md-6.col-md-offset-6
	%h1.main-header=image_tag('icon.jpg') 
	%h5 (Aquarium Environmental General Information Reporting)
	
	%p 
		© Caleb Keene 2015
	-count = @tanks.count
	-if count<1
		%p No currently active Tanks
	-elsif count==1
		%p Currently 1 active Tank
	-else
		%p= "Currently #{count} active Tanks"

	%br
	=link_to('home', root_url)