.col-md-6.col-md-offset-6
	%h1.main-header Ægir
	%p 
		© Caleb Keene 2015
	%p="Currently #{@tanks.count} active tank(s)"

	%br
	%table.table
		%tr
			%td.col-md-6{style: 'max-width: 100px; max-height: 100px;'}=image_tag('rails.jpg', class: 'img-responsive')