.col-md-6.col-md-offset-6
	%h1.main-header.text-center=image_tag('icon.jpg')
	%table.table
		%tr
			%td.col-md-4=link_to('Control panel', control_url)
			%td.col-md-4=link_to('Manage Tanks', manage_url)
			%td.col-md-4.text-right=link_to('About', about_url)

	%br
	-if @tanks.any?
		%h4.text-center Active Tanks
		-@tanks.each do |tank|
			%h3=tank.name

			%table.table
				%tr
					%td=link_to('tank info', info_url)
					%td.text-right="last water change: #{tank.last_water_change.localtime}"
	-else
		%h2.main-header No active Tanks currently
