.col-md-8.col-md-offset-2
  .body
    =render 'layouts/header'
    %h3 Tank information and Management
    %div{id: 'tanks'}
      -if @tanks.any?
        =render @tanks

    %div{id: 'tank-form', style: 'display:none;'}

    %br
    .form-horizontal
      .form-group
        .text-center
          =link_to(new_tank_path, remote: true, class: 'btn btn-success') do
            New Tank
            %span.glyphicon.glyphicon-plus
      .form-group
        .text-center
          =link_to(root_url) do
            home
            %span.glyphicon.glyphicon-home