=render 'layouts/header'
%h3 Tank information and Management
%div{id: 'tanks'}
  =render @tanks
  %br
    =link_to 'Add new Tank', new_tank_path, remote: true

  %div{id: 'tank-form', style: 'display:none;'}

  %br
=link_to 'home', root_url