.col-md-6.col-md-offset-6
	%h2.text-center Users
	%br
	-@users.each do |user|
		%br
		%table.table.table-hover
			%h4="#{user.name} (#{user.email})"
			%tr
				%td
					%strong
						Signed up:
				%td{style: 'color: #FFF;'}= user.created_at.localtime
			%tr
				%td
					%strong
						Total water changes:
				%td{style: 'color: #FFF;'}=" #{user.water_changes}"


	%br
	=link_to 'home', root_url